---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>1-9 Astro React SPA</title>
  </head>
  <body class="flex flex-col h-screen">
    <slot />
    <footer class="bg-gray-100 p-4 text-center w-full z-100 sticky bottom-0">
      <p>&copy; {new Date().getFullYear()} Astro React SPA</p>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
