---
import type { IPost } from "../api-types";

const fetchPosts = async (): Promise<{ posts: IPost[]; error: boolean }> => {
  try {
    // Add artificial delay
    await new Promise((resolve) => setTimeout(resolve, 1000));
    const response = await fetch("http://localhost:3300/posts");
    const fetchedPosts = (await response.json()) as IPost[];
    return { posts: fetchedPosts, error: false };
  } catch (error) {
    console.error(error);
    return { posts: [], error: true };
  }
};

const { posts, error } = await fetchPosts();
---

<div class="flex flex-col items-center">
  <h2 class="text-2xl font-bold mb-4">Your Home Feed</h2>
  <div class="flex flex-wrap gap-4 justify-center max-w-[1400px]">
    {
      posts.map((post) => (
        <a href={`/posts/${post.id}`} class="no-underline">
          <div class="min-h-[320px] w-[300px] shadow-lg rounded-lg border border-gray-200 p-4 cursor-pointer bg-gray-50 hover:shadow-xl transition-shadow">
            <h3 class="text-xl font-semibold">{post.title}</h3>
            <p>{post.body}</p>
            <p class="text-blue-500 pt-4">Go to post</p>
          </div>
        </a>
      ))
    }
  </div>
</div>
